amqp==2.3.2
billiard==3.5.0.4
celery==4.2.1
Django==2.1.11
django-bootstrap4==0.0.7
django-humanize==0.1.2
django-model-utils==2.0.3
django-mysql==2.4.1
django-pipeline==1.6.14
django-redis==4.10.0
django-twitter-bootstrap==3.3.0
djangoajax==3.0.3
gunicorn==19.9.0
humanize==0.5.1
kombu==4.2.1
psycopg2==2.7.6.1
pytz==2018.7
redis==3.0.1
vine==1.1.4
