{% extends 'login/index.html' %}
{% block title %}<title>Academy: Sign In</title>{% endblock %}
{% block content %}
{% load static %}

	<div class="limiter">
		{% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
           <strong>Error</strong>
           <ul class='form-errors'>
           {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
           {% endfor %}
           </ul>
           
       </div>
    {% endif %}
		<div class="container-login100">
			<div class="wrap-login100">

				<form class="login100-form validate-form" action="{% url 'login:lico_auth' %}" method="post">
                    {% csrf_token %}
					<span class="login100-form-title p-b-26">
						Login
					</span>
					<span class="login100-form-title p-b-48">
						<img src="{% static 'images/micp-site.ico'%}" style="width:3em; height 3em;"/>
					</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid username is: samplefe123">
						{% if form.username.errors %}
						   <span class="text-left text-danger">{{form.username.errors}}</span>
						{% endif %}
						{{ form.username }}
						<span class="focus-input100" data-placeholder="Username"></span>
						
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						{% if form.password.errors %}
						   <span class="text-left text-danger">{{form.password.errors}}</span>
						{% endif %}
						{{ form.password }}
						<span class="focus-input100" data-placeholder="Password"></span>
						
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="{% url 'login:lico_register' %}">
							Sign Up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}