<!DOCTYPE html>
<html lang="en">
<head>
	 {% block assets %}
      {% block title %}<title>MICP Online Academy</title>{% endblock %}
      {% load static %}
      {% load exams_tag %}
      <link rel="stylesheet" type="text/css" href="{% static "exams/css/cleanboots.min.css" %}" />
      <link rel="shortcut icon" type="image/png" href="{% static "exams/images/51132402_356884145148674_3838735060702330880_n_Fuq_1.ico" %}"/>
      <link rel="stylesheet" type="text/css" href="{% static "exams/css/bootstrap-grid.min.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% static "exams/css/bootstrap-reboot.min.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% static "exams/css/bootstrap.min.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% static "exams/css/print.min.css" %}" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="This is an online assesment designed to have students take their exams online.">
    {%endblock%}
</head>
<body data-spy="scroll" data-target="#aboutUs" data-offset="1">
  {% block scripts %}
        <script type="text/javascript" src="{% static "exams/js/jquery-3.3.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "exams/js/bootstrap.bundle.min.js" %}"></script>
        <script type="text/javascript" src="{% static "exams/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "exams/js/ajax-setup.js" %}">
        </script>
        <script type="text/javascript" src="{% static "exams/js/print.min.js" %}">
        </script>
   {%endblock%}
   {% block navbar %}
          <nav class="navbar navbar-expand-lg navbar-light fixed-top header" id="mainNav" style="position: fixed; height: 4em;">
            <a class="navbar-brand" href="#"><img src="{% static "exams/images/micp-site.ico" %}" style="width: 1.5em; height: 1.5em; padding-right: 5px;"/>MIC-P Academy</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
            </button>
            <div div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'master' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#news-developing">News</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about:view_page' %}">About</a></li>
                {% if request.user|has_group:'Administrator'%}
                  <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}" >Administrator Dashboard</a></li>
                {% endif %}
                <li class="dropdown bg-info">
                  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Quizzes
                  </button>
                  <div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                    {%get_category as categories %}
                    {% for category in categories %}
                      <a class="dropdown-item" href="{% url 'exams:questionaire' category.slug %}">{{ category.name }}</a>
                      <div class="dropdown-divider"></div>
                    {% endfor %}
                    
                  </div>
                </li>
              </ul>
              {% if user.is_authenticated ==  False %}
                <form class="form-inline my-2 my-lg-0" name="authenticate" action="{% url 'login:lico_auth' %}" method="post">
                  {% csrf_token %}
                  <input class="form-control mr-sm-2" type="text" placeholder="Email Address" name="username"/>
                  <input class="form-control mr-sm-2" type="password" placeholder="***************" name="password"/>
                  <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Sign In"/>
                </form>
              {% else %}
                <ul class="navbar-nav navbar-right">
                  <li class="nav-item"><a class="nav-link" href="{% url 'login:lico_logout'%}">Sign Out ({{user.username}})</a></li>
                </ul>
              {% endif %}
            </div>
          </nav>
        {% endblock %}
        <header class="masthead col-md-12" style="height 40px; background-image: url({% static 'exams/images/cs-home.jpg' %}); ">
          <div class="overlay"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                  <h3 class="heading">{{user.first_name}}</h3>
                  <span class="subheading">Welcome, to the Academy</span>
                </div>
              </div>
            </div>
          </div>
        </header>
        {%block content%}{%endblock%}
        <script>
          $(function(){
            var $header = $('.header'),
            scrollClass = 'bg-info',
            activateAtY = 20;

            function deactivateHeader() {
              if (!$header.hasClass(scrollClass)) {
                $header.addClass(scrollClass);
              }
            }

            function activateHeader() {
              if ($header.hasClass(scrollClass)) {
                $header.removeClass(scrollClass);
              }
            }

            $(window).scroll(function(e) {
              if($(window).scrollTop() > activateAtY) {
                deactivateHeader();
              } else {
              activateHeader();
              }
            });
          })
        </script>
</body>
</html>