.bg-darth-galaxy{
	background-color: #FF8800;
}
.bg-vader-galaxy{
	background-color: #3E4551;
}
img.glowing{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75); 
}