{%extends 'base_/base.html'%}
{%block title%}<title>MICP: Tech Articles</title>{%endblock%}
{%block content%}
{%load static%}
{%load articles_tag%}
<div class="container">
	<div class="row justify-content-center ">
		{%for article in page_obj%}
		<div class="col">
			<div class="media text-white {% cycle 'special-color' 'stylish-color' %}">
				<img class="mr-3" src="..." alt="Generic placeholder image">
				<div class="media-body">
					<h5 class="mt-0 {% cycle 'teal-text' 'cyan-text'%}">{{article.title|capitalize}}</h5>
					<p style="text-indent: -2em;">{{article.content|mortify|linebreaks}}</p>
					<a class="">Read More >></a>
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
</div>
<div class="container">
	<nav aria-label="Page navigation">
		<ul class="pagination pagination-circle pg-dark justify-content-center">
			{% if page_obj.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Next">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
					{{ page_obj.previous_page_number }}
				</a></li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
			{% endif %}
			<li class="page-item  active"><a class="page-link" href="#">
				{{ page_obj.number }}
			</a></li>
			{% if page_obj.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
					{{ page_obj.next_page_number }}
				</a></li>
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</div>
{%endblock%}