{% extends 'exams/index.html' %}
{% block content %}
    <h5>Questionaire:  <span class="font-italic ">{{ type }}</span></h5>
    {% if questions %}
        <form class="form" method="post">
            {% csrf_token  %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <strong>Good Luck!</strong> Please answer the questions carefully. Choosse the correct answer.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% for question in questions %}
                <p class = "text-primary">{{ question.question_text }}</p>
                <div class="form-group">
                    {% for answer in question.answers.all %}  
                        <label for="{{answer.id}}"><input type="radio" id="{{answer.id}}" name="{{question.id}}" value="{{answer.id}}" data-answer="{{answer.id}}"></label>
                        {{answer.answer_text}}
                        <br>
                        
                    {% endfor %}
                    <span class="text-success"></span>
                </div>
                
                <hr/>
            {% endfor %}
            <div class="btn-group">
                <input type="submit" class="btn btn-secondary " name="reset" value="Reset" />
            </div>
        
    </form>
    
{% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>No Questions!</strong> Please check with your teacher for this inconvenience.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<script type="text/javascript">
        $(function(){
            var radioObj=$("input[type='radio']");
            radioObj.change(function(){
                answer_data=$(this).val();
                $(this).parents().siblings('.text-success')
                .text("Your answer was saved!").fadeOut(2000)
                .show(300);
                console.log()
            })
        })
</script>
{% endblock %}
