{% extends 'base_/base.html' %}
{% block content %}
    {% load exams_tag %}
    {% if questions %}
        <section class="container">
            <div class="row">
                
                
                <form class="form" method="post">
                    <h5>Questionaire:  <span class="font-italic text-info ">{{type}}</span></h5>
                    
                    &nbsp;
                    <span class="load-message text-warning bg-light" style=" float:left;">
                         
                    </span>
                    {% csrf_token  %}
                    {% if request.user|has_quiz:type == False %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong>Good Luck!</strong> Please answer the questions carefully. Choose the correct answer. Review answers before sending
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                       {%endif%}
                        <div class="col-lg-10 mx-auto" id="print_modal">
                            
                            <section class="form-group">
                                <h6 class="text-secondary"> Name: <b>{{request.user.last_name}}, {{request.user.first_name}}</b></h6>
                                <h6 class="text-secondary"> Email: <b>{{request.user.email}}</b></h6>
                                {% if request.user|has_quiz:type %}
                                    {% with request.user|get_score:type as score %}
                                    <h6 class="text-secondary"> Total Score: <b>{{score}}</b></h6>
                                    {% endwith %}
                                
                                {% endif %}
                            </section>
                        
                        {% for question in questions %}
                            <div class="post-preview">
                                <p class = "text-primary alert-warning"><b>{{forloop.counter}}</b>.)  {{question.question_text }}</p>
                                <div class="form-group ">
                                    {% for answer in question.answers.all %}
                                        <label class="
                                            {%if request.user|has_quiz:type%}
                                            {% with answer.id|reveal_answer as revelation%}
                                            {{revelation}}
                                            {%endwith%}
                                            {%endif%}
                                            " for="{{answer.id}}">
                                            <input type="radio" id="{{answer.id}}" name="{{question.id}}"
                                            data-answer="{{answer.id}}"
                                            {% if request.user|is_answer:answer.id %}
                                                checked
                                            {% endif %}
                                            {% if request.user|has_quiz:type %}
                                                disabled
                                            {% endif %}
                                            data-href="{% url 'exams:answer-question' user.id %}">
                                            <span>{{answer.answer_text}}</span>
                                        </label>
                                        
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            <hr/>
                        {% endfor %}
                    </div>
                    <div class="col-lg-10 mx-auto">
                        <div class="btn-group">
                            <a class="btn btn secondary
                                {% if request.user|has_quiz:type %}
                                    disabled
                                {% endif %}
                                "
                                
                            next-path="{{request.get_full_path}}" href="{% url 'exams:reset_quiz' type %}?next={{request.get_full_path}}">Reset Quiz</a>
                            <button
                            {% if request.user|has_quiz:type %}
                                disabled
                            {% endif %}
                            data-rest="mz-form"class="btn btn-primary" data-quiz-category="{{type}}" data-href="{% url 'exams:save_quiz' type %}?next={{request.get_full_path}}">Save Quiz</button>
                            <button class="btn btn-link" id="print_q">Print Questionaire</button>
                        </div>
                    </div>
                    
                    
                </form>
                
            {% else %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>No Questions!</strong> Please check with your teacher for this inconvenience.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        </div>
    </section>
    <script type="text/javascript">
    var message='';
    $(document).ajaxStart(function(){
        $(".load-message").text("Sending data...").fadeIn(2000);
    })
    $(document).ajaxComplete(function(){
        $(".load-message").text(message).fadeOut(2000);
    })
    $(function(){
    var radioObj=$("input[type='radio']");
    //automatically save answer once choice is made
    radioObj.change(function(){
    question_id=$(this).attr('name')
    answer_id=$(this).attr('data-answer')
    $.ajax({
    url: $(this).attr('data-href'),
    data: {
    answer_id:answer_id,
    question_id:question_id,
    },
    success: function(data){
    message=data.message
    },
    error: function(data){
    message=data.message
    },
    })
    console.log(message)
    })
    //save quiz instance
    var btnSaveQuizObj=$("button[data-rest='mz-form']")
    btnSaveQuizObj.click(function(e){
    if(!confirm("Are you sure you want to submit your answer sheet? You will not be able to alter it once submitted."))
    return false;
    e.preventDefault()
    $.ajax({
    url: $(this).attr('data-href'),
    statusCode: {
    200: function(data){
    message=data.message
    $("input[type='radio']").attr('disabled', 'disabled')
    $("a.btn").addClass('disabled')
    },
    204: function(data){
    message='Please answer all questions.'
    },
    }
    })
    })
    //print the questionaire
    $("#print_q").click(function(e){
    e.preventDefault()
    printJS({printable:'print_modal', type:'html', header:'{{type}} Questionaire'})
    })
    })
    </script>
{% endblock %}